<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dms.Data.UnitInitialDataTypeInfo.Properties.Settings.DmsUnitInitialDataTypeInfoConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\DMS\Project\JCBCIM\08CD01_CPT_G6_CIM\DataBase\DmsUnitInitialDataTypeInfo.mdb"
            providerName="System.Data.OleDb" />
        <add name="Dms.Data.Properties.Settings.DmsUnitInitialDataTypeInfoConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\DataBase\DmsUnitInitialDataTypeInfo.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>