<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dms.Data.CurrentData.Properties.Settings.DmsCurrentDataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\DMS\Project\JCBCIM\MelsecGTest\DataBase\DmsCurrentData.mdb"
            providerName="System.Data.OleDb" />
        <add name="Dms.Data.Properties.Settings.DmsCurrentDataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\DataBase\DmsCurrentData.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>