<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerMode" value="Local"/> <!-- Local / Remoting-->
    <add key="AutoStart" value="true"/> <!-- true / false-->
    <add key="SimulateDevice" value="true"/> <!-- true / false-->
    <add key="SimulateIoMapping" value="true"/> <!-- true / false-->
    <add key="SimulateMotion" value="true"/> <!-- true / false-->
  </appSettings>
</configuration>