<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  </appSettings>
  <system.runtime.remoting>
    <application name="Dms.Server">
      <service>
        <wellknown mode="Singleton" type="Dms.Server.BroadcasterImpl, Dms.Server" objectUri="Dms.Server.Broadcast.rem"/>
        <wellknown mode="Singleton" type="Dms.Server.DMSCommImpl, Dms.Server" objectUri="Dms.Server.CommImpl.rem"/>
      </service>
      <channels>
        <channel ref="tcp" port="16784">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
